:root{
    --navigationTextColor: black;
    --textColor: rgb(0, 0, 0);

}

@font-face {
    font-family: 'Bebas Neue';
    font-weight: 400;
    src: url("../font/BebasNeue-Regular.ttf");
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:visited{
    color:rgb(0, 0, 0);
    text-decoration: none;


}

a:hover{
    color:rgb(0, 0, 255);
    text-decoration: none;


}

.navbar{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Bebas Neue';
    font-size: 50px;
    background-color: gray;
    gap: 20px;
}

.navbar a:hover{
    color: rgb(255, 255, 255)

}

body{
    padding-top: 53px;
}

.projectselectButtons a button{
    font-family: 'Bebas Neue';
    font-size: large;
    border-radius: 10px;
    width: 25%;
    height: 5%;
    
}
.projectselectButtons a button:hover{

}

.projectsList{
    list-style-type: none;
    padding-left: 0;

}
